---
title: Услуга
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}
    <main class="main page">
		<section class="blog-section">
            <h1 class="blog-section__title h1">Блог</h1>
            <div class="blog-section__wrapper">
                <div class="blog-section__subtitle h6">
                    Популярное
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M8.08877 0.826737C8.45514 0.0818984 9.51705 0.0818997 9.88342 0.826739L11.833 4.79032C11.9787 5.0865 12.2611 5.29172 12.5878 5.33875L16.9599 5.9681C17.7815 6.08636 18.1096 7.0963 17.5145 7.67491L14.3473 10.7539C14.1107 10.984 14.0028 11.316 14.059 11.6413L14.8115 15.9938C14.9529 16.8117 14.0938 17.4359 13.3596 17.0487L9.45261 14.988C9.16066 14.834 8.81153 14.834 8.51957 14.988L4.61259 17.0487C3.87839 17.4359 3.01928 16.8117 3.16069 15.9938L3.91318 11.6413C3.96941 11.316 3.86152 10.984 3.62486 10.7539L0.45772 7.67491C-0.13745 7.0963 0.190701 6.08636 1.0123 5.9681L5.38434 5.33875C5.71105 5.29172 5.9935 5.0865 6.13919 4.79032L8.08877 0.826737Z" fill="#ECE17E"/>
                    </svg>  
                </div>
                <div class="swiper blog-section__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog blogs">
            <div class="container">
                <div class="tabs">
                    <div class="tab label--big active">Все</div>
                    <div class="tab label--big">Аудит</div>
                    <div class="tab label--big">Дизайн</div>
                    <div class="tab label--big">Разработка</div>
                    <div class="tab label--big">Контент</div>
                    <div class="tab label--big">Маркетинг</div>
                    <div class="tab label--big">3d</div>
                </div>
                <div class="blogs__wrapper">
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog1.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog2.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog3.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog1.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog2.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog3.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog1.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog2.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog3.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog1.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog2.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                    <div class="blogs__item">
                        <div class="blog__item-label label--big">Дизайн</div>
                        <div class="blog__item-img">
                            <img src="./img/blog3.jpg" alt="">
                        </div>
                        <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                        <div class="blog__item-text text--large">Регламенты: упрощаем работу с заказами в 5 раз</div>
                    </div>
                </div>
                <div class="blogs__navigations">
                    <button class="blogs__navigations-prev disable">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.4004 5.40039H0.800391M0.800391 5.40039L5.34233 1.40039M0.800391 5.40039L5.34233 9.40039" stroke="#343F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="blogs__navigations-items">
                        <button class="blogs__navigations-item active label--large">1</button>
                        <button class="blogs__navigations-item label--large">2</button>
                        <button class="blogs__navigations-item label--large">3</button>
                        <button class="blogs__navigations-item label--large">4</button>
                    </div>
                    <button class="blogs__navigations-next">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.59961 5.40039H19.1996M19.1996 5.40039L14.6577 1.40039M19.1996 5.40039L14.6577 9.40039" stroke="#343F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    {% include "partials/sections/_telegram.html" %}
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	<!-- {% include "partials/_promotion.html" %} -->

{% endblock %}
