---
title: Ссылки
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
    <main class="main">
		<div class="links" style="margin-bottom: 7rem;">
            <div class="container">
                <a href="https://leonelnexman.github.io/NEXMAN2024/">Главная</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/service.html">Услуги</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/service-2.html">Услуга с слайдером</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/developers.html">Застройщикам</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/blog.html">Блог</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/contacts.html">Контакты</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/page-404.html">Ошибка 404</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/page-403.html">Ошибка 403</a>
                <a href="https://leonelnexman.github.io/NEXMAN2024/page-505.html">Ошибка 505</a>
            </div>
        </div>
    </main>

	{% include "partials/_footer.html" %}

{% endblock %}
