---
title: Ошибка 404
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}

    <main class="main error-page">
		<section class="error">
            <div class="error__number">404</div>
            <div class="error__title h4">Страница не найдена</div>
            <p class="error__text text--big">
                Вернитесь на главную страницу и давайте вместе создадим что-то удивительное!
            </p>
            <div class="error__btn btn">
                <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-0.5" y="0.5" width="55" height="55" rx="9.5" transform="matrix(-1 0 0 1 55.5 0)" stroke="#186D72" />
                    <path d="M38.5 28H18.5M18.5 28L23.6613 24M18.5 28L23.6613 32" stroke="#186D72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Вернуться на главную</span>
            </div>
        </section>
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	<!-- {% include "partials/_promotion.html" %} -->

{% endblock %}
