---
title: Ошибка 403
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}

    <main class="main error-page">
		<section class="error">
            <div class="error__number">505</div>
            <div class="error__title h4">Технические неполадки</div>
            <p class="error__text text--big">
                Наши специалисты в работе. Пока вы можете посмотреть сделанные проекты или связаться с нами для получения помощи
            </p>
            <div class="error__btns">
                <button class="btn">
                    <span>Вернуться на главную</span>
                    <div class="icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.928037 15.0711L15.0702 0.928966M15.0702 0.928966L8.59216 1.75012M15.0702 0.928966L14.249 7.40698" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </button>
                <button class="btn btn-stroke">
                    <span>Оставить заявку</span>
                    <div class="icon">
                        <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 5L21 5M21 5L15.8387 1M21 5L15.8387 9" stroke="#186D72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                    </div>
                </button>
            </div>
            
        </section>
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	<!-- {% include "partials/_promotion.html" %} -->

{% endblock %}
