---
title: Ошибка 404
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}

    <main class="main error-page">
		<section class="error">
            <div class="error__number">404</div>
            <div class="error__title h4">Страница не найдена</div>
            <p class="error__text text--big">
                Вернитесь на главную страницу и давайте вместе создадим что-то удивительное!
            </p>
            <button class="btn btn-stroke">
                <div class="icon">
                    <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 5L1 5M1 5L6.16129 1M1 5L6.16129 9" stroke="#186D72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                </div>
                <span>Вернуться на главную</span>
            </button>
        </section>
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	<!-- {% include "partials/_promotion.html" %} -->

{% endblock %}
