---
title: Ошибка 403
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}

    <main class="main error-page">
		<section class="error">
            <div class="error__number">505</div>
            <div class="error__title h4">Технические неполадки</div>
            <p class="error__text text--big">
                Наши специалисты в работе. Пока вы можете посмотреть сделанные проекты или связаться с нами для получения помощи
            </p>
            <div class="error__btns">
                <button class="btn">
                    <span>Вернуться на главную</span>
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="56" height="56" rx="10" fill="#186D72" />
                        <path d="M20.93 35.0711L35.0721 20.929M35.0721 20.929L28.5941 21.7501M35.0721 20.929L34.251 27.407" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                </button>
                <button class="btn btn--stroke">
                    <span>Оставить заявку</span>
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="55" height="55" rx="9.5" stroke="#186D72" />
                        <path d="M18 28H38M38 28L32.8387 24M38 28L32.8387 32" stroke="#186D72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            
        </section>
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	<!-- {% include "partials/_promotion.html" %} -->

{% endblock %}
