---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
    <main class="main projects-detal-page">
		{% include "partials/_menubar.html" %}
		<div class="project-page">
			<div class="container">
				<div class="projects-hero__title">Наши проекты</div>
				<div class="projects-hero__illustrations">
							<div class="projects-hero__illustration" style="z-index: 5; transform: translate(0px, 0px);">
					  <img width="768" height="608" src="./img/project-animate.png" class="attachment-medium_large size-medium_large wp-post-image" alt="USMALL" decoding="async" fetchpriority="high">          </div>
							<div class="projects-hero__illustration" style="z-index: 4; transform: rotate(3.9deg);">
					  <img width="768" height="600" src="./img/project-animate2.png" class="attachment-medium_large size-medium_large not-transparent wp-post-image" alt="Mainstreet" decoding="async" data-has-transparency="false" data-dominant-color="27202e" style="--dominant-color: #27202e;">          </div>
							<div class="projects-hero__illustration" style="z-index: 3; transform: rotate(7.8deg);">
					  <img width="768" height="598" src="./img/project-animate3.png" class="attachment-medium_large size-medium_large not-transparent wp-post-image" alt="REM PRO" decoding="async"  data-has-transparency="false" data-dominant-color="314920" style="--dominant-color: #314920;">          </div>
							<div class="projects-hero__illustration" style="z-index: 2; transform: rotate(11.7deg);">
					  <img width="768" height="598" src="./img/project-animate4.png" class="attachment-medium_large size-medium_large not-transparent wp-post-image" alt="ModBay" decoding="async" data-has-transparency="false" data-dominant-color="608c61" style="--dominant-color: #608c61;">          </div>
							<div class="projects-hero__illustration" style="z-index: 1; transform: rotate(15.6deg);">
					  <img width="768" height="611" src="./img/project-animate5.png" class="attachment-medium_large size-medium_large wp-post-image" alt="Ballet" decoding="async">          </div>
						</div>
			  </div>
		</div>
        {% include "partials/sections/_doingnow.html" %}
        {% include "partials/sections/_projects-page.html" %}
		<section class="marqee-line">
			<div class="marqee-line__slider" data-aos="fade-up">
				<div class="swiper-wrapper">
				  <div class="swiper-slide h2">Получить</div>
				  <div class="swiper-slide h2 white">Индивидуальное</div>
				  <div class="swiper-slide h2">Коммерческое</div>
				  <div class="swiper-slide h2 white">Предложение</div>
				  <div class="swiper-slide h2">Получить</div>
				  <div class="swiper-slide h2 white">Индивидуальное</div>
				  <div class="swiper-slide h2">Коммерческое</div>
				  <div class="swiper-slide h2 white">Предложение</div>
				</div>
			  </div>
			  <button class="btn btn--social" data-aos="fade-up">
				<span>Перейти в телеграм</span>
				<div class="icon">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.39969 6.31991L15.8897 3.48991C19.6997 2.21991 21.7697 4.29991 20.5097 8.10991L17.6797 16.5999C15.7797 22.3099 12.6597 22.3099 10.7597 16.5999L9.91969 14.0799L7.39969 13.2399C1.68969 11.3399 1.68969 8.22991 7.39969 6.31991Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" />
						<path d="M10.1094 13.6501L13.6894 10.0601" stroke="white" stroke-miterlimit="10" stroke-linecap="round" />
					</svg>
				</div>                
			</button>
		</section>
		{% include "partials/sections/_task.html" %}
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	{% include "partials/_promotion.html" %}

{% endblock %}
