---
title: Услуга
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}
    <main class="main service">
		<section class="service-main">
            <div class="container">
                <div class="service-main__wrapper">
                    <h1 class="service-main__title h1" data-aos="fade-up">Премиум-дизайн сайта с анимацией от 300 000₽</h1>
                    <div class="service-main__info">
                        <div class="service-main__text text--large"  data-aos="fade-up">Выполнен полный редизайн сайта. Проанализировали старый сайт, сайты конкурентов с подобной тематикой. По итогу сделали сильный упор на визуал и анимацию, а так же понятность пользователям</div>
                        <button class="btn"  data-aos="fade-up">
                            <span>получить консультацию</span>
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="56" height="56" rx="10" fill="#186D72" />
                                <path d="M20.929 35.0711L35.0711 20.929M35.0711 20.929L28.5931 21.7501M35.0711 20.929L34.25 27.407" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="service-main__img"  data-aos="zoom-in">
                    <img src="./img/service.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="stages">
            <div class="container">
                <div class="stages__title h3">Этапы</div>
                <div class="stages__subtitle h3">Работы</div>
                <div class="swiper stages-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="stages__top h4">
                                <span>01</span>
                                Исследование
                            </div>
                            <div class="stages__text text--medium">Исследования помогут нам понять, что пользователи хотят и как взаимодействуют с продуктом, чтобы мы могли сделать интерфейс еще удобнее и привлекательнее</div>
                            <div class="stages__list">
                                <div class="stages__item text--small">
                                    <span>Анализ бизнеса</span>
                                    Глубокое погружение в операционные процессы и задачи вашей компании
                                </div>
                                <div class="stages__item text--small">
                                    <span>Анализ целевой аудитории</span>
                                    Разбираемся, кто составляет вашу аудиторию и как мы можем подстроиться под их ожидания и потребности
                                </div>
                                <div class="stages__item text--small">
                                    <span>Конкурентный анализ</span>
                                    Обширное исследование лучших практик в отрасли с целью выявления уникальных возможностей для вашего бизнеса
                                </div>
                                <div class="stages__item text--small">
                                    <span>Сценарии пользовательского взаимодействия</span>
                                    Мы создадим сценарии, описывающие, как ваши пользователи будут взаимодействовать с вашим продуктом, где возникнут сложности и как их избежать
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stages__top h4">
                                <span>02</span>
                                Прототипирование
                            </div>
                            <div class="stages__text text--medium">Мы составим структуру проекта, а также проверим его понятность для пользователя. Это позволит нам обеспечить более эффективное использование ресурсов, повысить вероятность успеха проекта на рынке и сократить стоимость разработки</div>
                            <div class="stages__list">
                                <div class="stages__item text--small">
                                    <span>Анализ бизнеса</span>
                                    Глубокое погружение в операционные процессы и задачи вашей компании
                                </div>
                                <div class="stages__item text--small">
                                    <span>Анализ целевой аудитории</span>
                                    Разбираемся, кто составляет вашу аудиторию и как мы можем подстроиться под их ожидания и потребности
                                </div>
                                <div class="stages__item text--small">
                                    <span>Конкурентный анализ</span>
                                    Обширное исследование лучших практик в отрасли с целью выявления уникальных возможностей для вашего бизнеса
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stages__top h4">
                                <span>02</span>
                                Исследование
                            </div>
                            <div class="stages__text text--medium">Исследования помогут нам понять, что пользователи хотят и как взаимодействуют с продуктом, чтобы мы могли сделать интерфейс еще удобнее и привлекательнее</div>
                            <div class="stages__list">
                                <div class="stages__item text--small">
                                    <span>Анализ бизнеса</span>
                                    Глубокое погружение в операционные процессы и задачи вашей компании
                                </div>
                                <div class="stages__item text--small">
                                    <span>Анализ целевой аудитории</span>
                                    Разбираемся, кто составляет вашу аудиторию и как мы можем подстроиться под их ожидания и потребности
                                </div>
                                <div class="stages__item text--small">
                                    <span>Конкурентный анализ</span>
                                    Мы создадим сценарии, описывающие, как ваши пользователи будут взаимодействовать с вашим продуктом, где возникнут сложности и как их избежать
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       {% include "partials/sections/_cases.html" %}
        {% include "partials/sections/_specialists.html" %}
        {% include "partials/sections/_specialization.html" %}
        <section class="similar-services">
            <div class="container">
                <div class="similar-services__title h4">Похожие услуги</div>
                <div class="similar-services__wrapper">
                    <a href="" class="similar-services__link text--large">
                       <span>Дизайн</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                    <a href="" class="similar-services__link text--large">
                        <span>Контент, SMM</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                    <a href="" class="similar-services__link text--large">
                        <span>Аналитика, аудит</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                    <a href="" class="similar-services__link text--large">
                        <span>SEO</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                    <a href="" class="similar-services__link text--large">
                        <span>Графика, 3D</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                    <a href="" class="similar-services__link text--large">
                        <span>Мобильная разработка для застройщиков</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                    <a href="" class="similar-services__link text--large">
                        <span>Иллюстрации</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                    <a href="" class="similar-services__link text--large">
                        <span>Разработка</span>
                        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11H23M23 11L17.3226 6M23 11L17.3226 16" stroke="#C4CCCC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                         </svg>
                    </a>
                </div>
            </div>
        </section>
		{% include "partials/sections/_task.html" %}
		{% include "partials/sections/_blog.html" %} -->
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	<!-- {% include "partials/_promotion.html" %} -->

{% endblock %}
