---
title: Контакты
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_navbar.html" %}
	{% include "partials/_menubar.html" %}

    <main class="main service">
		<section class="contacts">
            <div class="container">
                <div class="contacts__actions">
                    <div class="contacts__title">Контакты</div>
                    <button class="btn">
                        <span>получить консультацию</span>
                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="56" height="56" rx="10" fill="#186D72" />
                            <path d="M20.929 35.0711L35.0711 20.929M35.0711 20.929L28.5931 21.7501M35.0711 20.929L34.25 27.407" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>
        </section>
		{% include "partials/sections/_telegram.html" %}
    </main>

	{% include "partials/_footer.html" %}
	{% include "partials/_cookies.html" %}
	<!-- {% include "partials/_promotion.html" %} -->

{% endblock %}