.main-section{
    margin-bottom: 12rem;
    @media (max-width: 962px){
        margin-bottom: 22.5rem;
    }
    .container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 9rem;
        position: relative;
    }
    h1{
        animation-delay: 0.3s;
        transition-duration: 1.5s !important;
        margin-bottom: 1.5rem;
        @media (max-width: 962px){
            margin-bottom: 1rem;
        }

        a{
            display: inline;
            color: $dark;
            text-decoration: underline;
            text-decoration-color: $light-middle-gray-50;
            text-underline-offset: 1.5rem;
            text-decoration-thickness: 0.3rem;
            transition: all 0.3s;
            &:hover{
                color: $hover;
                transition: all 0.3s;
                text-decoration-style: dotted;
                text-decoration-color: $hover;
            }

            @media (max-width: 962px){
                text-underline-offset: 0.9rem;
                text-decoration-thickness: 0.19rem;
            }
        }
    }
    &__subtitle{
       .link-open{
            text-decoration: none !important;
            color: $dark-gray;
            transition: all 0.3s;
            text-underline-offset: 9px;
            &:hover{
                transition: all 0.3s;
                color: $hover;
                text-decoration: underline !important;
                text-decoration-style: dotted !important;
             
            }
       }
    }
    &__btn{
        position: absolute;
        top: 15rem;
        right: 7rem;
        animation-delay: 0.7s;
        transition-duration: 2.5s !important;
        @media (max-width: 962px){
            top: 23.5rem;
            left: 0rem;
            width: 100%;
            span{
                width: 37rem;
            }
        }
        @media (max-width: 600px){
            top: 26rem;
            left: 0rem;
            width: 33rem;
            span{
                width: 27rem;
            }
        }
    }
    &__subtitle{
        animation-delay: 0.5s;
        transition-duration: 1.5s !important;
    }
    &__info{
        width: 79.5rem;
        @media (max-width: 962px){
            width: 100%;
        }
        .info-title{
            white-space: nowrap;
            @media (max-width: 962px){
                font-size: 3.1rem;
                &:nth-child(1){
                    display: block;
                }
            }
        }
    }
    &__descr{
        width: 39.5rem;
        transition-duration: 1.5s !important;
        animation-delay: 0.4s;
        @media (max-width: 962px){
            position: absolute;
            width: 33rem;
            left: 0rem;
            bottom: -69rem;
        }
        @media (max-width: 600px){
            left: 0rem;
            bottom: -60rem;
        }
    }
    &__subtitle{
        color: $dark-gray;
        max-width: 59.5rem;
    }
    video{
        display: block;
        border-radius: 3rem;
        width: 140rem;
        height: 79rem;
        margin: auto;
        animation-delay: 0.3s;
        transition-duration: 1.7s !important;
        @media (max-width: 962px){
            border-radius: 2.5rem;
            width: 42rem;
            height: 42rem;
            object-fit: cover;
        }
        @media (max-width: 600px){
            width: 33rem;
            height: 33rem;
        }
    }
}

// Projects

.projects{
    position: relative;
    margin-bottom: 9rem;
    @media (max-width: 962px){
        margin-bottom: 5rem;
    }
    &__subtitle{
        margin-left: 34.5rem;
        @media (max-width: 962px){
            margin-left: 12.5rem;
            margin-bottom: 2rem;
        }
        color: $light-middle-gray;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5rem 0;
        @media (max-width: 962px){
            gap: 2.7rem;
         }
    }
    &__top{
        margin-bottom: 7rem;
        @media (max-width: 962px){
            margin-bottom: 2.5rem;
        }
    }
    &__item{
        position: relative;
        width: 65.8rem;
        transition-duration: 1.5s !important;
        @media (max-width: 962px){
           width: 100%;
        }
    }
    &__labels{
        top: 1.5rem;
        left: 1.5rem;
        position: absolute;
        z-index: 7;
        display: flex;
        gap: 1rem;
    }
    &__label{
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        background: $dark-50;
        padding: 1.1rem 1.2rem 0.8rem;
        color: $white;
    }
    &__text{
        position: absolute;
        max-width: 32.3rem;
        top: 13.5rem;
        right: 2.3rem;
        @media (max-width: 962px){
            position: static;
            font-size: 2rem;
        }
    }
    &__img{
        width: 100%;
        position: relative;
        margin-bottom: 1.5rem;
        &:hover{
            .projects__img-second{
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
            }
        }
        img{
            border-radius: 3rem;
            width: 65.8rem;
            height: 49.3rem;
            object-fit: cover;
            @media (max-width: 962px){
                border-radius: 2.5rem;
                width: 100%;
                height: 24.5rem;
             }
        }
    }
    &__img-second{
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: all 0.5s;
    }
    &__descr{
        color: $text; 
        margin-bottom: 1rem; 
    }
    &__actions{
        margin-top: 5rem;
        @media (max-width: 962px){
            margin-top: 2.5rem;
         }
        .btn{
            width: 23rem;
            height: 5.7rem;
            margin: auto;
            @media (max-width: 962px){
                width: 100%;
            }
            span{
                width: 16.1rem;
                white-space: nowrap;
                @media (max-width: 962px){
                    width: 35.1rem;
                }
                @media (max-width: 601px){
                    width: 27.1rem;
                }
            }
        }
    }
}

.kp{
    overflow: hidden;
    margin-bottom: 17rem;
    @media (max-width: 962px){
        margin-bottom: 5rem;
    }
    .container{
        width: 141rem;
        padding: 9rem 5.7rem;
        background: $dark;
        border-radius: 3rem;
        position: relative;
        transition: all 0.3s;
        &:hover{
            
        }
        @media (max-width: 962px){
            max-width: 42rem;
            width: 42rem;
            padding: 2.5rem 1.5rem;
            border-radius: 1.9rem;
        }
        @media (max-width: 600px){
            max-width: 35rem;
            width: 35rem;
        }
    }
    &__title{
        color: $white;
        margin-bottom: 2rem;
        transition-duration: 1s !important;
        @media (max-width: 962px){
            margin-bottom: 0;
        }
    }
    &__subtitle{
        color: $white-55;
        margin-left: 16.4rem;
        margin-bottom: 2rem;
        transition-duration: 1.5s !important;
        @media (max-width: 962px){
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    &__suptitle{
        color: $white; 
        margin-left: 48rem;
        margin-bottom: 2rem;
        white-space: nowrap;
        transition-duration: 2s !important;
        @media (max-width: 962px){
            white-space: wrap;
           margin-left: 0;
           max-width: 90%;
           margin-bottom: 1.5rem;
        }
    }
    &__btn{
        position: absolute;
        top: 20.3rem;
        right: 5rem;
        transition-duration: 2.5s !important;
        @media (max-width: 962px){
            top: 21.9rem;
            left: 1.5rem;
            width: 32rem;
        }
        @media (max-width: 600px){
            top: 26rem;
            left: 1.5rem;
            width: 32rem;
        }
    }
    &__text{
        position: absolute;
        color: $white;
        max-width: 29.1rem;
        bottom: 8.7rem;
        transition-duration: 2.5s !important;
        @media (max-width: 962px){
            position: static;
            font-size: 1.6rem;
            max-width: 100%;
            margin-bottom: 8.1rem;
            max-width: 35rem;
            width: 35rem;
        }
    }
}

.create{
    position: relative;
    margin-bottom: 17rem;
    @media (max-width: 962px){
        margin-bottom: 6rem;
        overflow: hidden;
    }
    &__title{
        color: $light-middle-gray;
    }
    &__subtitle{
        margin-left: 11rem;
    }
    &__info{
        margin-bottom: 39.2rem;
        @media (max-width: 962px){
            margin-bottom: 2.8rem;
        }
    }
    &__text{
        width: 100%;
        max-width: 33.7rem;
        margin-bottom: 2.5rem;
        @media (max-width: 962px){
            max-width: 100%;
            margin-bottom: 1.9rem;
        }
    }
    &__btn{
        span{
            gap: 1rem;
            align-items: center;
            width: 20.8rem;
            @media (max-width: 962px){
                width: 35.5rem;
            }
            @media (max-width: 600px){
                width: 27.1rem;
            }
            svg{
                width: 1.9rem;
                height: 1.9rem;
            }
        }
    }
    &__elem{
        padding: 1.75rem 3.5rem 1.75rem 1.5rem;
        backdrop-filter: blur(11.041009902954102px);
        background: $light-middle-gray-50;
        display: flex;
        align-items: center;
        width: 35rem;
        border-radius: 2rem;
        gap: 2.5rem;
        position: absolute;
        z-index: 7;
        @media (max-width: 962px){
            position: static;
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem;
        }
    }
    &__elem-value{
        min-width: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem;
        padding: 1.9rem 1.65rem 1.05rem 1.65rem;
        background: $white;
        @media (max-width: 962px){
            min-width: 7rem;
            font-size: 3rem;
        }
    }
    .elem1{
        top: 27rem;
        left: 33rem;
    }
    .elem2{
        top: 51rem;
        left: 59rem;
    }
    .elem3{
        top: 25rem;
        right: 5rem;
    }
    .elem4{
        position: absolute;
        top: 23rem;
        left: 49rem;
        @media (max-width: 962px){
            display: none;
        }
        img{
            border-radius: 3rem;
            width: 40.4rem;
            height: 30.6rem;
        }
    }
    .elem5{
        position: absolute;
        top: -10rem;
        left: 95rem;
        @media (max-width: 962px){
            display: none;
        }
        img{
            border-radius: 3rem;
            width: 43.6rem;
            height: 43.6rem;
        }
    }
    &__descr{
        @media (max-width: 962px){
            margin-top: 1.8rem;
        }
    }
}

.services{
    margin-bottom: 15.7rem;
    @media (max-width: 962px){
        margin-bottom: 6rem;
    }
    &__title{
        color: $light-middle-gray;   
    }
    &__subtitle{
        margin-left: 29.4rem;
        @media (max-width: 962px){
            margin-left: 13rem;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        @media (max-width: 962px){
            flex-direction: column;
        }
    }
    &__actions{
        padding-top: 6rem;
        max-width: 56.5rem;
        gap: 1rem 2.5rem;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 962px){
            flex-direction: column;
            padding-top: 2rem;
            max-width: 100%;
            margin-bottom: 3rem;
            gap: 1rem;
        }
    }
    &__item-top{
        border-radius: 1rem;
        padding: 2.4rem 1.5rem 2rem 1.5rem;
        width: 27rem;
        border: 1px solid $light-middle-gray-50;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;
        @media (max-width: 962px){
            width: 100%;
            padding: 0;
            border: none;
            &.active{
                svg{
                    transform: rotate(-90deg) !important;
                }
            }
        }
        svg{
            width: 0.7rem;
            height: 0.9rem;
            transition: all 0.3s;
            @media (max-width: 962px){
                transform: rotate(90deg);
            }
        }
        &:hover{
            border-color: transparent;
            background: $hover;
            color: $white;
            @media (max-width: 962px){
                background: transparent;
                color: $dark;
            }
            svg{
                transform: rotate(-180deg);
                transition: all 0.5s;
                @media (max-width: 962px){
                    transform: rotate(90deg);
                }
            }
            svg path{
                fill: $white;
                transition: all 0.5s;
                @media (max-width: 962px){
                    fill: $dark;
                }
            }
        }
    }
    &__item{
        position: relative;
        &:hover{
            .services__item-content{
                opacity: 1;
                visibility: visible;
                z-index: 777;
            }
        }
        &:nth-child(1), &:nth-child(2){
            .services__item-content{
                bottom: -22.5rem;
            }
        }
        &:nth-child(3), &:nth-child(4){
            .services__item-content{
                bottom: -17.5rem;
            }
        }
        &:nth-child(5), &:nth-child(6){
            .services__item-content{
                bottom: -8.5rem;
            }
        }
    }
    &__item-content{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 777;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        bottom: 0;
        background: $white;
        border: 0.1rem solid $hover;
        border-radius: 2rem;
        width: 29rem;
        right: -30rem;
        transition: all 0.9s;
        @media (max-width: 962px){
            opacity: 1;
            visibility: visible;
            position: static;
            width: 100%;
            border: none;
            max-height: 0;
            overflow: hidden;
            padding: 0 2rem;
        }
        a{
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            text-decoration-color: transparent;
            transition: all 0.3s;
            &:hover{
                color: $hover;
                text-decoration-color: $hover;
            }
        }
    }
    &__links{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 44.2rem;
        @media (max-width: 962px){
            width: 100%;
            gap: 1rem;
        }
    }
    &__lable{
        border-radius: 1rem;
        padding: 1.9rem 2rem 1.5rem;
        background: $light-gray;
        width: 14.1rem;
        margin-bottom: 4rem;
        @media (max-width: 962px){
            width: 100%;
            font-size: 1.4rem;
            margin-bottom: 2.1rem;
        }
    }
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 2rem 0.8rem;
        margin-left: -2rem;
        transition: all 0.3s;
        border-radius: 1rem;

        @media (max-width: 962px){
            padding: 0;
            margin-left: 0;
        }

        &:nth-child(1){
            margin-top: -1rem;
        }
        svg path{
            transition: all 0.3s;
        }
        &:hover{
            color: #fff;
            transition: all 0.3s !important;
            background: $hover;
            @media (max-width: 962px){
                background: transparent;
                color: $dark;
            }
            svg path{
                stroke: $white;
                transition: all 0.3s;
                @media (max-width: 962px){
                    stroke: $dark;
                }
            }
        }
    }
}


