.service{
    .task{
        padding: 9rem 0;
        background: $light-gray;
        @media (max-width: 962px){
            padding-top: 3rem;
            border-radius: 2.5rem;
            padding-bottom: 3rem;
            margin-bottom: 5rem;
        }
    }
    &__slider{
        overflow: visible;
        .swiper-wrapper{
            overflow: visible;
            transition-timing-function: linear !important;
            position: relative;
        }
        .swiper-slide{
            background: #E7ECEC;
            border-radius: 3rem;
            @media (max-width: 962px){
                &:nth-child(1){
                    border-radius: 1.5rem;
                    width: 19.6rem !important;
                    height: 14.7rem !important;   
                }
                &:nth-child(2){
                    border-radius: 1.5rem;
                    width: 19.6rem !important;
                    height: 14.7rem !important;   
                }
                &:nth-child(3){
                    border-radius: 1.5rem;
                    width: 12.7rem !important;
                    height: 17.2rem !important;   
                }
                &:nth-child(4){
                    border-radius: 1.5rem;
                    width: 12.8rem !important;
                    height: 12.9rem !important;   
                }
                &:nth-child(5){
                    border-radius: 1.5rem;
                    width: 19.6rem !important;
                    height: 14.7rem !important;    
                }
            }
        }
    }
}

.slider-section{
    height: auto !important;
}

.service-main{
    overflow: hidden;
    margin-bottom: 12rem;
    @media (max-width: 962px){
        margin-bottom: 5rem;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 9.5rem;
        @media (max-width: 962px){
            flex-direction: column;
            margin-bottom: 4rem;
        }
    }
    &__title{
        max-width: 55rem;
        @media (max-width: 962px){
            max-width: 100%;
            margin-bottom: 2rem;
        }
    }
    &__info{
        max-width: 66.9rem;
    }
    &__text{
        margin-bottom: 3rem;
        @media (max-width: 962px){
            color: $text-dark;
        }
    }
    .btn{
        span{
            @media (max-width: 962px){
                width: 35.1rem !important;
            }
            @media (max-width: 600px){
                width: 27.1rem !important;
            }
        }
    }
    &__img{
        width: 100% !important;
        height: 83.2rem !important;
        @media (max-width: 962px){
            height: 20rem !important;
        }
        img{
            border-radius: 3rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 962px){
                border-radius: 1.5rem;
            }
        }
    }
    &__developers{
        margin-bottom: 12rem;
        @media (max-width: 962px){
           margin-bottom: 6rem;
        }
        .swiper-wrapper{
            display: flex;
            justify-content: space-between;
        }
        .swiper-slide{
            width: 32.8rem;
            @media (max-width: 962px){
                width: 29rem;
            }
        }
}

.developers{
    &__title{
        font-size: 2.8rem;
        line-height: 130%;
        color: $dark;
        margin-bottom: 0.5rem;
        @media (max-width: 962px){
            font-size: 2.2rem;
            margin-bottom: 1rem;
         }
        }
    }
    &__text{
        font-size: 1.8rem;
        line-height: 140%;
        color: $text; 
        @media (max-width: 962px){
            font-size: 1.8rem;
            max-width: 99%;
         }
    }
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $light-gray;
        border-radius: 2.5rem;
        width: 32.8rem;
        height: 32.8rem;
        margin-bottom: 2.5rem;
        @media (max-width: 962px){
            width: 29rem;
            height: 29rem;
        }
        svg{
            width: 26rem;
            height: 26rem;
            @media (max-width: 962px){
                width: 22rem;
                height: 22rem;
            }
        }
    }
}

.similar-services{
    margin-bottom: 7rem;
    @media (max-width: 962px){
        margin-bottom: 4rem;
    }
    &__title{
        margin-bottom: 4.3rem;
        @media (max-width: 962px){
            margin-bottom: 2.1rem;
        }
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        width: 100%;
        @media (max-width: 962px){
            gap: 0.5rem;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.1rem solid $light-middle-gray-50;
        border-radius: 1rem;
        padding: 2.4rem 2rem 2rem 2rem;
        width: 32.7rem;
        transition: all 0.3s;
        @media (max-width: 962px){
            padding: 1.5rem 1.5rem 1.3rem;
            font-size: 1.6rem;
            width: 100%;
        }
        &:hover{
            background: $hover;
            border-color: transparent;
            color: $white;
            svg path{
                stroke: $white;
            }
        }
        span{
            max-width: 17.9rem;
            @media (max-width: 962px){
                max-width: 90%;
            }
        }
        svg{
            transition: all 0.3s;
            width: 2.4rem;
            height: 2.2rem;
        }
    }
}

.stages{
    margin-bottom: 9rem;
    @media (max-width: 962px){
        margin-bottom: 5rem;
    }
    &__title{
        color: $light-middle-gray;
    }
    &__text{
        padding-bottom: 2.5rem;
        border-bottom: 0.1rem solid $light-middle-gray-50;
        @media (max-width: 962px){
            font-size: 1.4rem;
        } 
    }
    &__subtitle{
       margin-left: 9.7rem;
       margin-bottom: 4rem;
       @media (max-width: 962px){
        margin-bottom: 2rem;
        }  
    }
    .swiper-slide{
        padding: 4rem 3rem;
        border: 1px solid $light-middle-gray;
        border-radius: 3rem;
        width: 73.1rem;
        height: auto;
        @media (max-width: 962px){
            width: 30rem;
            padding: 2rem 1.5rem;
        } 
    }
    &__top{
        display: flex;
        gap: 0.9rem;
        margin-bottom: 1.2rem;
        span{
            font-family: $font-family;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $dark;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2.5rem;
    }
    &__item{
        display: flex;
        gap: 4rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid $light-middle-gray-50;
        @media (max-width: 962px){
            flex-direction: column;
            gap: 0.5rem;
            color: $text;
            font-size: 1.3rem;
        } 
        &:last-child{
            border: none;
        }
        span{
            display: block;
            font-family: $font-family;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 130%;
            color: $dark;  
            min-width: 20.3rem;
            @media (max-width: 962px){
                width: auto;
            } 
        }
    }
}

.services.service-page{
    overflow: hidden;
    margin: 0;
    padding-bottom: 15rem;
    @media (max-width: 962px){
        padding-bottom: 3rem;
    } 
    .services__subtitle{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 5.2rem;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: var(--dark);
        margin-left: 0;
        margin-bottom: 4rem;
    }
    .services__actions{
        padding-top: 0;
    }
    .services__actions{
        max-width: 100%;
        @media (max-width: 962px){
            gap: 0.5rem;
        }  
    }
    .services__item{
        width: 31.7rem;
    }
    .services__item-top{
        width: 100%;
    }
    .services__item {
        @media (max-width: 962px){
            padding: 1.4rem 1.5rem 1.1rem;
            border: 0.1rem solid $light-middle-gray-50;
            border-radius: 1rem;
        }  
    }
    .services__item-content{
        @media (max-width: 962px){
            padding: 0;
            border-radius: 0;
            gap: 0;
            .services__item-link{
                font-size: 1.8rem;
                color: $dark-gray;
                margin-top: 0.7rem;
            }
        }   
    }
}


.stages-slider{
    padding-bottom: 0.5rem;
}

.stages{
    overflow: hidden;
}
.stages .swiper{
    overflow: visible;
}

.cases-developers{
    margin-bottom: 12rem;
    @media (max-width: 962px){
        margin-bottom: 6rem;
     }
    .container{
        display: flex;
        align-items: flex-start;
        gap: 11.2rem;
        @media (max-width: 962px){
           flex-direction: column;
           gap: 3rem;
        } 
    }
    &__headings{
        position: sticky;
        top: 3rem;
        @media (max-width: 962px){
            position: static;
         } 
    }
    &__title{
        font-weight: 400;
        font-size: 8.8rem;
        line-height: 110%;
        letter-spacing: -0.05em;
        color: $dark;
        @media (max-width: 962px){
            font-size: 4rem
         }  
    }
    &__suptitle{
        margin-left: 12.5rem;
        font-weight: 400;
        font-size: 5.2rem;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: $light-middle-gray;
        @media (max-width: 962px){
            font-size: 3.4rem;
            margin-left: 9rem;
         }
    }
    &__subtitle{
        font-weight: 400;
        font-size: 5.2rem;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: $dark;
        margin-left: 17.5rem;
        @media (max-width: 962px){
            font-size: 3.4rem;
            margin-left: 9rem;
         }
    }
}

