<div class="menubar">
    <nav class="nav">
        <a href="#" class="nav__link label--big">о нас</a>
        <a href="#" class="nav__link label--big"><span>Онлайн-</span>чат</a>
        <a href="#" class="nav__link label--big">Блог</a>
        <a href="#" class="nav__link label--big">шоурил</a>
        <a href="#" class="nav__link label--big">контакты</a>
    </nav>
    <button class="btn">
        <span>Заказать работу</span>
        <div class="icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.928036 15.0711L15.0702 0.928968M15.0702 0.928968L8.59216 1.75012M15.0702 0.928968L14.249 7.40698" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </button>
</div>