<div class="navbar">
    <div class="container">
        <div class="navbar__links">
            <a href="" class="navbar__link h6">О нас</a>
            <a href="" class="navbar__link h6">Чат</a>
            <a href="" class="navbar__link h6">Блог</a>
            <a href="" class="navbar__link h6">Шоурил</a>
            <a href="" class="navbar__link h6">Вакансии</a>
            <a href="" class="navbar__link h6">Проекты</a>
            <a href="" class="navbar__link h6">Контакты</a>
        </div>
        <div class="navbar__categories">
            <div class="navbar__dropdowns">
                <div class="navbar__item" >
                    <a href="" class="navbar__item-top h5">Дизайн
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <a href="" class="navbar__item-top h5">Аналитика, аудит
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <a href="" class="navbar__item-top h5">Графика, 3D
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <a href="" class="navbar__item-top h5">Иллюстрации
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <a href="" class="navbar__item-top h5">Контент, SMM
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <a href="" class="navbar__item-top h5">SEO
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <a href="" class="navbar__item-top h5">Маркетинг
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
                <div class="navbar__item">
                    <a href="" class="navbar__item-top h5">Разработка
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.27071 5.72267C4.66574 6.14372 5.33426 6.14372 5.72928 5.72267L9.04905 2.18421C9.64816 1.54564 9.19538 0.5 8.31976 0.5L1.68023 0.5C0.804619 0.5 0.351845 1.54564 0.950951 2.18421L4.27071 5.72267Z" fill="#343F3F" />
                        </svg>
                    </a>
                    <div class="navbar__item-content">
                        <a href="#" class="navbar__item-link text--big">Дизайн</a>
                        <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                        <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                        <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                        <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                        <a href="#" class="navbar__item-link text--big">SEO</a>
                        <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                        <a href="#" class="navbar__item-link text--big">Разработка</a>
                    </div>
                </div>
            </div>
            <div class="navbar__whoms">
                <div class="navbar__whom-title">
                    по сфере
                </div>
                <a href="#" class="navbar__whom h6">Застройщикам</a>
                <a href="#" class="navbar__whom h6">Банкам</a>
                <a href="#" class="navbar__whom h6">Производствам</a>
                <a href="#" class="navbar__whom h6">Стартапам</a>
            </div>
        </div>
        <div class="navbar__menu">
            <div class="navbar__block">
                <div class="navbar__block-title h6">Популярное <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path d="M8.08877 0.826737C8.45514 0.0818984 9.51705 0.0818997 9.88342 0.826739L11.833 4.79032C11.9787 5.0865 12.2611 5.29172 12.5878 5.33875L16.9599 5.9681C17.7815 6.08636 18.1096 7.0963 17.5145 7.67491L14.3473 10.7539C14.1107 10.984 14.0028 11.316 14.059 11.6413L14.8115 15.9938C14.9529 16.8117 14.0938 17.4359 13.3596 17.0487L9.45261 14.988C9.16066 14.834 8.81153 14.834 8.51957 14.988L4.61259 17.0487C3.87839 17.4359 3.01928 16.8117 3.16069 15.9938L3.91318 11.6413C3.96941 11.316 3.86152 10.984 3.62486 10.7539L0.45772 7.67491C-0.13745 7.0963 0.190701 6.08636 1.0123 5.9681L5.38434 5.33875C5.71105 5.29172 5.9935 5.0865 6.13919 4.79032L8.08877 0.826737Z" fill="#ECE17E"/>
                    </svg></div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                </div>
            </div>
            <div class="navbar__block">
                <div class="navbar__block-title h6">Контент, SMM</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                    <a href="#" class="navbar__item-link text--big">SEO</a>
                    <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                    <a href="#" class="navbar__item-link text--big">Разработка</a>
                </div>
            </div>
            <div class="navbar__block">
                <div class="navbar__block-title h6">Дизайн сайтов</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                </div>
            </div>
            <div class="navbar__block">
                <div class="navbar__block-title h6">Дизайн сайтов</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                </div>
            </div> 
            <div class="navbar__block">
                <div class="navbar__block-title h6">Аудит</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                </div>
            </div>
            
            <div class="navbar__block">
                <div class="navbar__block-title h6">Дизайн сайтов</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                    <a href="#" class="navbar__item-link text--big">SEO</a>
                    <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                    <a href="#" class="navbar__item-link text--big">Разработка</a>
                </div>
            </div>
        </div>
        <div class="navbar__promo">
            <div class="navbar__promo-title h6">Краткий аудит сайта - бесплатно до 31 января</div>
            <div class="navbar__promo-text text--big">Узнайте об основных проблемах сайта, получите рекомендации по их решению и повышению продаж</div>
            <button class="navbar__promo-btn btn btn--social">
                <span>Получить бесплатно</span>
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="56" height="56" rx="12" fill="#343F3F" />
                    <path d="M20.929 35.0711L35.0711 20.929M35.0711 20.929L28.5931 21.7501M35.0711 20.929L34.25 27.407" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
            </button>
        </div>
    </div>
</div>