<div class="navbar">
    <div class="container">
        <div class="navbar__links">
            <a href="" class="navbar__link h6">О нас</a>
            <a href="" class="navbar__link h6">Чат</a>
            <a href="" class="navbar__link h6">Блог</a>
            <a href="" class="navbar__link h6">Шоурил</a>
            <a href="" class="navbar__link h6">Вакансии</a>
            <a href="" class="navbar__link h6">Проекты</a>
            <a href="" class="navbar__link h6">Контакты</a>
        </div>
        <div class="navbar__categories">
            <div class="navbar__dropdowns">
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">Дизайн</a>
                </div>
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">Аналитика, аудит</a>
                </div>
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">Графика, 3D</a>
                </div>
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">Иллюстрации</a>
                </div>
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">Контент, SMM</a>
                </div>
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">SEO</a>
                </div>
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">Маркетинг</a>
                </div>
                <div class="navbar__item"  data-aos="fade-down">
                    <a href="" class="navbar__item-top h5">Разработка</a>
                </div>
            </div>
            <div class="navbar__whoms">
                <a href="#" class="navbar__whom h6">Застройщикам</a>
                <a href="#" class="navbar__whom h6">Банкам</a>
                <a href="#" class="navbar__whom h6">Производствам</a>
                <a href="#" class="navbar__whom h6">Стартапам</a>
            </div>
        </div>
        <div class="navbar__menu">
            <div class="navbar__block">
                <div class="navbar__block-title h6">Популярное</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                </div>
            </div>
            <div class="navbar__block">
                <div class="navbar__block-title h6">Дизайн сайтов</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                </div>
            </div> 
            <div class="navbar__block">
                <div class="navbar__block-title h6">Аудит</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                </div>
            </div>
            <div class="navbar__block">
                <div class="navbar__block-title h6">Контент, SMM</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                    <a href="#" class="navbar__item-link text--big">SEO</a>
                    <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                    <a href="#" class="navbar__item-link text--big">Разработка</a>
                </div>
            </div>
            <div class="navbar__block">
                <div class="navbar__block-title h6">Дизайн сайтов</div>
                <div class="navbar__item-content">
                    <a href="#" class="navbar__item-link text--big">Дизайн</a>
                    <a href="#" class="navbar__item-link text--big">Аналитика, аудит</a>
                    <a href="#" class="navbar__item-link text--big">Графика, 3D</a>
                    <a href="#" class="navbar__item-link text--big">Иллюстрации</a>
                    <a href="#" class="navbar__item-link text--big">Контент, SMM</a>
                    <a href="#" class="navbar__item-link text--big">SEO</a>
                    <a href="#" class="navbar__item-link text--big">Маркетинг</a>
                    <a href="#" class="navbar__item-link text--big">Разработка</a>
                </div>
            </div>
        </div>
        <div class="navbar__promo">
            <div class="navbar__promo-title h6">Краткий аудит сайта - бесплатно до 31 января</div>
            <div class="navbar__promo-text text--big">Узнайте об основных проблемах сайта, получите рекомендации по их решению и повышению продаж</div>
            <button class="navbar__promo-btn btn btn--social">
                <span>Получить бесплатно</span>
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="56" height="56" rx="12" fill="#343F3F" />
                    <path d="M20.929 35.0711L35.0711 20.929M35.0711 20.929L28.5931 21.7501M35.0711 20.929L34.25 27.407" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
            </button>
        </div>
    </div>
</div>