// Кнопки

.btn{
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &:hover{
        span{
            transition: all 0.3s;
            background: $hover;
        }
        .icon{
            background: $hover;
            transition: all 0.3s;
        }
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.6rem;
        height: 5.6rem;
        font-size: 1.4rem;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        border-radius: 1rem;
        padding: 2rem 2.8rem 1.6rem;
        width: 26.6rem;
        background: $green;
        transition: all 0.3s;
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background: $green;
        width: 5.6rem;
        height: 5.6rem;
        transition: all 0.3s;
        svg{
           width: 1.6rem;
           height: 1.6rem; 
        }
    }
}

.btn-link{
    background: $green;
    transition: all 0.3s;
    &:hover{
        transition: all 0.3s;
        background: $hover;
    }

}

.btn--social{
    span{
        background: $dark;
    }
    .icon{
        background: $dark;
        svg{
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.btn--dark{
    span{
        background: $dark;
    }

    svg rect{
        fill: $dark;
    }
}

.btn-stroke{
    &:hover{
        span{
           color: $white;
           border-color: transparent;
        }
        .icon{
            border-color: transparent;
            svg path{
                stroke: $white
            }
        }
    }
    .icon{
        border: 0.1rem solid $green;
        background: transparent;
        svg{
            width: 2.2rem;
            height: 1rem;
        }
    }
    span{
        background: transparent;
        border: 0.1rem solid $green;
        color: $dark;
    }
    svg path{
        transition: all 0.3s;
        stroke: $green;
    }
}

// .btn--return{
//     display: flex;
//     flex-direction: row-reverse;

//     &:hover{
//         span{
//            color: $white;
//            border-color: transparent;
//         }
//         svg{
//             border-color: transparent;
//             path{
//                 stroke: $white;
//             }
//         }
        
//     }

//     span{
//         background: transparent;
//         border: 0.1rem solid $green;
//         color: $dark;
//     }

//     svg{
//         border-radius: 1rem;
//         rect{
//             stroke-width: 0.05rem;
//             fill: transparent;
//             @media (max-width: 962px){
//                  stroke-width: 0.1rem;
//             }
//         }
//         path{
//             stroke: $green;
//         }
//     }
// }




