.doingnow{
    margin-bottom: 12rem;
    @media (max-width: 962px){
        margin-bottom: 5rem;
     }
    .container{
        display: flex;
        gap: 7rem;
        @media (max-width: 962px){
            gap: 2rem;
            flex-direction: column;
         }
    }
    .swiper-wrapper{
        -webkit-transition-timing-function:linear!important;   
        transition-timing-function:linear!important; 
        position: relative;
    } 
    &__title{
        color: $light-middle-gray;
        @media (max-width: 962px){
            font-size: 4rem;;
         }
    }
    &__subtitle{
        margin-left: 12.1rem;
        @media (max-width: 962px){
            font-size: 4rem;
            margin-right: 10.5rem;
         }
    }
    .swiper-slide{
        border-radius: 3rem;
        width: 23.6rem;
        background: $light-gray;
        cursor: pointer;
        @media (max-width: 962px){
            border-radius: 2rem;
            width: 20rem;
         }
    }
    &__slide-img{
        width: 100%;
        height: 11.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.1rem solid $dark;
        @media (max-width: 962px){
            height: 7.9rem;
            img{
                width: 15rem;
                height: 2.9rem;
            }
         }
    }
    &__slide-name{
        width: 100%;
        height: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;
        text-align: center;
        @media (max-width: 962px){
            height: 7.8rem;
            font-size: 1.2rem;
         }
    }
}

