.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    z-index: 777777777777777777777;
    transition: all 0.3s;
    &.static{
        position: fixed;
        top: -9rem;
        transition: all 0.5s;
    }
    &.fixed{
        top: 0;
        left: 0;
        position: fixed;
        transition: all 0.5s;
    }
    .container{
        width: 135.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 962px){
            justify-content: flex-start;
        }
    }
    &__info{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: 4.3rem;
        @media (max-width: 962px){
            order: 0;
            margin-right: 11.3rem;
        }
        @media (max-width: 600px){
            order: 0;
            margin-right: 3rem;
        }
        img{
            width: 12.7rem;
            height: 3.1rem;

            @media (max-width: 962px){
                width: 10.3rem;
                height: 2.6rem;
            }
        }
    }
    &__menu-btn{
        padding: 1.95rem 1.5rem 1.5rem;
        border-radius: 1rem;
        backdrop-filter: blur(11.041009902954102px);
        background: $light-middle-gray-50;
        margin-right: 2rem;
        transition: all 0.3s;
        &:hover{
            background: $hover;
            color: $white;
            @media (max-width: 962px){
                background: transparent;
            }
            svg path{
                fill: $white !important;
            }
        }
        .desktop{
            display: flex;
            align-items: center;
            gap: 0.6rem;
            @media (max-width: 962px){
                display: none;
            }
        }
        .mobile{
            display: none;
        }
        @media (max-width: 962px){
            position: absolute;
            right: -0.5rem;
            top: 2.7rem;
            padding: 0;
            background: none;
            backdrop-filter: none;
            .mobile{
                display: block;
                svg{
                    width: 4rem;
                    height: 4rem;
                }
            }
        }

        svg path{
            transition: all 0.3s;
        }
        svg{
            width: 0.8rem;
            height: 0.6rem;
        }
    }
    &__projects{
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        border-radius: 1rem;
        backdrop-filter: blur(11.041009902954102px);
        background: $light-middle-gray-50;
        transition: all 0.3s;

        @media (max-width: 962px){
            display: none;
        }
        &:hover{
            background: $hover;
            color: $white;
        }
        img{
            border-radius: 0.8rem;
            width: 100%;
            height: 100%;
        }
    }
    &__projects-view{
        border-radius: 0.8rem;
        width: 5.7rem;
        height: 4.5rem;
    }
    &__actions{
        display: flex;
        align-items: center;
        @media (max-width: 962px){
            
        }
    }
    &__account{
        border-radius: 50%;
        width: 5.5rem;
        height: 5.5rem;
        margin-right: 1.5rem;
        @media (max-width: 962px){
            display: none;
        }
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__contacts{
        display: flex;
        gap: 2rem;
        border-radius: 1rem;
        padding: 1rem 1.3rem;
        backdrop-filter: blur(12px);
        background: $light-middle-gray-50;
        margin-right: 2rem;
        transition: all 0.3s;
        @media (max-width: 962px){
            padding: 1.2rem 1.2rem 1rem;
            margin-right: 1rem;
        }
        &:hover{
            background: $hover;
            transition: all 0.3s;
        }
        a{
            svg path{
                transition: all 0.3s;
            } 
            &:hover{
                svg path{
                    fill: $white;
                }  
            }
            
        }
        svg{
            width: 3rem;
            height: 3.1rem;
            margin-bottom: -0.3rem;
            @media (max-width: 962px){
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
    &__socials{
        max-height: 5.5rem;
        display: flex;
        gap: 1rem;
        overflow: hidden;
        align-items: center;
        padding: 0 1.3rem;
        border-radius: 1rem;
        backdrop-filter: blur(12px);
        background: $light-middle-gray-50;
        transition: all 0.3s;
        cursor: pointer;
        @media (max-width: 962px){
            padding: 0rem 1rem;
        }
        &:hover{
            background: $hover;
            transition: all 0.3s;
            svg path{
                fill: $white;
            }
            p{
                color: $white;
            }
        }

        p{
            @media (max-width: 962px){
                display: none;
            }
        }
    }
    &__socials-slider{
        width: 3rem;
        height: 5rem;
        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__socials-list{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        top: 8rem;
        right: 3.7rem;
        padding: 1.5rem 1.5rem 1rem;
        border: 1px solid $green;
        backdrop-filter: blur(11.041009902954102px);
        background: $white;
        border-radius: 1rem;
        transition: all 0.3s;
        a{
            transition: all 0.3s;
            svg path{
                transition: all 0.3s;
                fill: $green;
            }
            &:hover{
                svg path{
                    fill: $hover;
                }
            }
        }
        &.visible{
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }
        svg{
            width: 2.8rem;
            height: 2.8rem;
        }
    }
}

