
.menubar{
    position: fixed;
    bottom: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 777; 
    &.main{
        .nav{
            display: flex;
        }
    }
    .nav{
        display: flex;
        align-items: center;
        gap: 2.5rem;
        margin-right: 0.5rem;
        border-radius: 1rem;
        padding: 1.8rem 2rem 1.5rem 2rem;
        backdrop-filter: blur(20px);
        background: $green-50;
        display: none;
        @media (max-width: 962px){
            padding: 1.8rem 1.5rem 1.5rem;
            width: 35rem;
            margin-right: 0;
        }
        &__link{
            text-decoration: underline !important;
            text-underline-offset: 0.35rem;
            text-decoration-color: transparent !important;
            transition: all 0.3s;
            &:hover{
                text-decoration-color: $white !important; 
            }
            @media (max-width: 962px){
                font-size: 1.2rem;
                white-space: nowrap;
                transition: all 0.3s;
                span{
                    display: none;
                }
            }
        }
        a{
            color: $white;
        }
    }
    .btn{
        span{
            white-space: nowrap;
            width: 16.8rem;
        }
        @media (max-width: 962px){
            display: none;
        }
    }
}
