.task{
    margin-bottom: 11.6rem;
    @media (max-width: 962px){
        margin-bottom: 6rem;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 9rem;
        @media (max-width: 962px){
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }
    &__suptitle{
        margin-bottom: 1rem;
    }
    &__subtitle{
        margin-left: 25.4rem;
        color: $light-middle-gray;
        @media (max-width: 962px){
            margin-left: 3.4rem;
        }
    }
    &__info{
        padding-top: 5.3rem;
        width: 32.5rem;
        @media (max-width: 962px){
            padding-top: 1.9rem;
        }
    }
    &__text{
        margin-bottom: 2.5rem;
    }
    &__content{
        width: 110rem;
        margin: auto;
        @media (max-width: 962px){
            width: 100%;
        }
        button{
            span{
                width: 104.1rem;
                @media (max-width: 962px){
                    width: 27.1rem;
                }
            }
        }
    }
    .btn{
        @media (max-width: 962px){
            span{
                width: 35.5rem;
            }
        }
        @media (max-width: 600px){
            span{
                width: 27.1rem;
            }
        } 
    }
    &__img{
        display: block;
        width: 110rem;
        height: 60.6rem;
        margin: auto;
        margin-bottom: 1.5rem;
        @media (max-width: 962px){
            width: 100%;
            object-fit: cover;
        }
    }
}