.telegram{
    margin-bottom: 6.8rem;
    .container{
        display: flex;
        align-items: center;
        padding: 4rem;
        border-radius: 2rem;
        background: $green;
    }
    &__title{
        margin-right: 4rem;
        color: $white-70;
    }
    &__text{
        width: 100%;
        max-width: 45.7rem;
        color: $white-70;
        margin-right: 24.4rem;
    }
}