#cursor {
    position: absolute;
    border-radius: 100%;
    transition: .5s cubic-bezier(.75, -1.27, .3, 2.33) transform, .2s cubic-bezier(.75, -1.27, .3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 86581640561045608460954089504165634589123695349859465;

}

#aura {
    position: absolute;
    border-radius: 100%;
    transition: .5s cubic-bezier(.75, -1.27, .3, 2.33) transform, .2s cubic-bezier(.75, -1.27, .3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 86581640561045608460954089504165634589123695349859465;

}

// #cursor {
//     width: 0.8rem;
//     height: 0.8rem;
//     background-color: rgba(255, 255, 255, 0.5);
//     transform: scale(1);
// }

// #aura {
//     width: 4.6rem;
//     height: 4.6rem;
//     border: 0.1rem solid rgba(000, 000, 000, 0.25);
//     background-color: rgba(000, 000, 000, 0.27);
//     transform: translate(0.5rem, 0.5rem);
// }

// #cursor.hidden {
//     transform: scale(.001);
// }

// #aura.hidden {
//     transform: scale(.001);
// }


// #cursor.active {
//     opacity: 0;
//     transform: scale(0);
// }


// #aura.active{
//     border: 0.2rem solid  rgba(255, 255, 255, 0.33);
//     transform: scale(1.3);
// }

.aura{
    opacity: 0;
    z-index: 77777777777777;
    transform: scale(0.3);
    &.slider{
        width: 13rem;
        height: 13rem;
        background: $green;
        border-radius: 50%;
    }
}

.aura{
    opacity: 0;
    z-index: 77777777777777;
    transform: scale(0.3);
    &.info{
        opacity: 1;
    }
}

.swiper-wrapper{
    cursor: none;
}
.slider-cursor{
    opacity: 0;
}
#aura.slider{
    opacity: 1;
    width: 13rem;
    height: 13rem;
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    .more-info{
        display: none;
    }
    .open-link{
        display: none;
    }
    .slider-cursor{
        opacity: 1;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        color: $white;
        span{
            margin-bottom: -0.5rem;
        }
    }
}

#aura{
    transition: transform  0.5s !important;
    &.info{
        opacity: 1;
        transform: scale(1);
        margin-left: 3rem;
        .open-link{
            display: none;
        }
        .more-info{
            font-family: $font-family;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            border-radius: 1rem;
            padding: 1.5rem 1.5rem 1.2rem 1.5rem;
            backdrop-filter: blur(14px);
            background: $hover;
        }
    }
}

#aura{
    transition: transform  0.5s !important;
    &.open{
        opacity: 1;
        transform: scale(1);
        margin-left: 3rem;
        .more-info{
            display: none;
        }
        .open-link{
            font-family: $font-family;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            border-radius: 1rem;
            padding: 1.5rem 1.5rem 1.2rem 1.5rem;
            backdrop-filter: blur(14px);
            background: $hover;
        }
    }
}