<section class="blog">
   <div class="container">
        <div class="blog__title large">Блог</div>
        <div class="blog__top">
            <div class="tabs">
                <div class="tab label--big">Все</div>
                <div class="tab label--big">Аудит</div>
                <div class="tab label--big">Дизайн</div>
                <div class="tab label--big">Разработка</div>
                <div class="tab label--big">Контент</div>
                <div class="tab label--big">Маркетинг</div>
                <div class="tab label--big">3d</div>
            </div>
            <button class="btn">
                <span>Все статьи</span>
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="56" width="56" height="56" rx="12" transform="rotate(-90 0 56)" fill="#186D72" />
                    <path d="M18 28H38M38 28L32.8387 24M38 28L32.8387 32" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
            </button>
        </div>
        <div class="swiper blog__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-aos="fade-up"  data-aos-delay="300">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog1.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
                <div class="swiper-slide" data-aos="fade-up"   data-aos-delay="500">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog2.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
                <div class="swiper-slide" data-aos="fade-up"   data-aos-delay="700">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
                <div class="swiper-slide" data-aos="fade-up"   data-aos-delay="900">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
            </div>
        </div>
   </div> 
</section>