<section class="blog">
   <div class="container">
        <div class="blog__title large">Блог</div>
        <div class="blog__top">
            <div class="tabs">
                <div class="tab label--big">Все</div>
                <div class="tab label--big">Аудит</div>
                <div class="tab label--big">Дизайн</div>
                <div class="tab label--big">Разработка</div>
                <div class="tab label--big">Контент</div>
                <div class="tab label--big">Маркетинг</div>
                <div class="tab label--big">3d</div>
            </div>
            <button class="btn">
                <span>Все статьи</span>
                <div class="icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.928036 15.0711L15.0702 0.928968M15.0702 0.928968L8.59216 1.75012M15.0702 0.928968L14.249 7.40698" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </button>
        </div>
        <div class="swiper blog__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-aos="fade-up"  data-aos-delay="300">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog1.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
                <div class="swiper-slide" data-aos="fade-up"   data-aos-delay="500">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog2.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
                <div class="swiper-slide" data-aos="fade-up"   data-aos-delay="700">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
                <div class="swiper-slide" data-aos="fade-up"   data-aos-delay="900">
                    <div class="blog__item-label label--big">Дизайн</div>
                    <div class="blog__item-img">
                        <img src="./img/blog3.jpg" alt="">
                    </div>
                    <div class="blog__item-date label--large">декабрь 7, 2021  |  12:45</div>
                    <div class="blog__item-text h6">Регламенты: упрощаем работу с заказами в 5 раз</div>
                </div>
            </div>
        </div>
   </div> 
</section>