<section class="cases">
    <div class="container">
        <div class="cases__title h3">Кейсы</div>
        <div class="cases__slider">
            <div class="projects__wrapper swiper-wrapper">
                <a href="#" class="projects__item">
                    <div class="projects__img img-slider"  data-aos="zoom-in">
                        <div class="projects__labels">
                            <div class="projects__label label--big">Аудит</div>
                            <div class="projects__label label--big">Дизайн</div>
                            <div class="projects__label label--big">Контент</div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                 <img src="./img/project.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/project2.jpg" alt="">
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                    <div class="projects__name h4">ЖК Дельвиг</div>
                </a>
                <a href="#" class="projects__item">
                    <div class="projects__img img-slider"  data-aos="zoom-in">
                        <div class="projects__labels">
                            <div class="projects__label label--big">Аудит</div>
                            <div class="projects__label label--big">Дизайн</div>
                            <div class="projects__label label--big">Контент</div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                 <img src="./img/project.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/project2.jpg" alt="">
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                    <div class="projects__name h4">ЖК Дельвиг</div>
                </a>
                <a href="#" class="projects__item">
                    <div class="projects__img img-slider"  data-aos="zoom-in">
                        <div class="projects__labels">
                            <div class="projects__label label--big">Аудит</div>
                            <div class="projects__label label--big">Дизайн</div>
                            <div class="projects__label label--big">Контент</div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                 <img src="./img/project.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/project2.jpg" alt="">
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                    <div class="projects__name h4">ЖК Дельвиг</div>
                </a>
                <a href="#" class="projects__item">
                    <div class="projects__img img-slider"  data-aos="zoom-in">
                        <div class="projects__labels">
                            <div class="projects__label label--big">Аудит</div>
                            <div class="projects__label label--big">Дизайн</div>
                            <div class="projects__label label--big">Контент</div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                 <img src="./img/project.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/project2.jpg" alt="">
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                    <div class="projects__name h4">ЖК Дельвиг</div>
                </a>
                <a href="#" class="projects__item">
                    <div class="projects__img img-slider"  data-aos="zoom-in">
                        <div class="projects__labels">
                            <div class="projects__label label--big">Аудит</div>
                            <div class="projects__label label--big">Дизайн</div>
                            <div class="projects__label label--big">Контент</div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                 <img src="./img/project.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/project2.jpg" alt="">
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                    <div class="projects__name h4">ЖК Дельвиг</div>
                </a>
                <a href="#" class="projects__item">
                    <div class="projects__img img-slider"  data-aos="zoom-in">
                        <div class="projects__labels">
                            <div class="projects__label label--big">Аудит</div>
                            <div class="projects__label label--big">Дизайн</div>
                            <div class="projects__label label--big">Контент</div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                 <img src="./img/project.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/project2.jpg" alt="">
                           </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                    <div class="projects__name h4">ЖК Дельвиг</div>
                </a>
        </div>
        </div>
        
    </div>
</section>

