<section class="doingnow">
    <div class="container">
        <div class="doingnow__info">
            <div class="doingnow__title h3">Делаем</div>
            <div class="doingnow__subtitle h3">сейчас</div>
        </div>
        <div class="swiper doingnow__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="doingnow__slide-img">
                        <img src="./img/now1.svg" alt="">
                    </div>
                    <div class="doingnow__slide-name label--big">
                        Многостраничный сайт жк
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="doingnow__slide-img">
                        <img src="./img/now2.svg" alt="">
                    </div>
                    <div class="doingnow__slide-name label--big">
                        Многостраничный сайт жк
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="doingnow__slide-img">
                        <img src="./img/now3.svg" alt="">
                    </div>
                    <div class="doingnow__slide-name label--big">
                        Многостраничный сайт жк
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="doingnow__slide-img">
                        <img src="./img/now4.svg" alt="">
                    </div>
                    <div class="doingnow__slide-name label--big">
                        Многостраничный зонтичный сайт застройщика
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="doingnow__slide-img">
                        <img src="./img/now3.svg" alt="">
                    </div>
                    <div class="doingnow__slide-name label--big">
                        Многостраничный сайт жк
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="doingnow__slide-img">
                        <img src="./img/now4.svg" alt="">
                    </div>
                    <div class="doingnow__slide-name label--big">
                        Многостраничный сайт жк
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>