

<section class="projects">
    <div class="container">
        <div class="projects__top">
            <div class="projects__title  large" data-aos="fade-up">Все проекты</div>
            <div class="projects__subtitle  large" data-aos="fade-up">Уникальны</div>
            <p class="projects__text text--large" data-aos="fade-up">И адаптированы под особенности каждого клиента и бизнеса</p>
        </div>
        <div class="projects__wrapper">
            <a href="#" class="projects__item">
                <div class="projects__img"  data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <img src="./img/project.jpg" alt="">
                    <img src="./img/project2.jpg" alt="" class="projects__img-second">
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img" data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <img src="./img/project.jpg" alt="">
                    <img src="./img/project2.jpg" alt="" class="projects__img-second">
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img" data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <img src="./img/project.jpg" alt="">
                    <img src="./img/project2.jpg" alt="" class="projects__img-second">
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img" data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <img src="./img/project.jpg" alt="">
                    <img src="./img/project2.jpg" alt="" class="projects__img-second">
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img" data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <img src="./img/project.jpg" alt="">
                    <img src="./img/project2.jpg" alt="" class="projects__img-second">
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img" data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <img src="./img/project.jpg" alt="">
                    <img src="./img/project2.jpg" alt="" class="projects__img-second">
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
        </div>
        <div class="projects__actions">
            <button class="btn btn--return">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="55" height="55" rx="9.5" stroke="#186D72" />
                    <path d="M18 28H38M38 28L32.8387 24M38 28L32.8387 32" stroke="#186D72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                <span>Все проекты</span>
                
            </button>
        </div>
    </div>
</section>