

<section class="projects project-page overflow">
    <div class="container">
        <div class="projects__top">
            <div class="projects__title  large" data-aos="fade-up">Реализованные проекты</div>
            <div class="thumbs" data-aos="fade-up">
                <button class="thumb label--big active">Все</button>
                <button class="thumb label--big">Аудит</button>
                <button class="thumb label--big">Дизайн с нуля</button>
                <button class="thumb label--big">редизайн</button>
                <button class="thumb label--big">Копирайтинг</button>
                <button class="thumb label--big">иллюстрации</button>
                <button class="thumb label--big">верстка и натяжка</button>
                <button class="thumb label--big">редизайн</button>
                <button class="thumb label--big">Копирайтинг</button>
                <button class="thumb label--big">3d</button>
                <button class="thumb label--big">иллюстрации</button>
                <button class="thumb label--big">верстка и натяжка</button>

            </div>
        </div>
        <div class="projects__wrapper">
            <a href="#" class="projects__item">
                <div class="projects__img img-slider"  data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                             <img src="./img/project.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/project2.jpg" alt="">
                       </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img img-slider"  data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                             <img src="./img/project.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/project2.jpg" alt="">
                       </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img img-slider"  data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                             <img src="./img/project.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/project2.jpg" alt="">
                       </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img img-slider"  data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                             <img src="./img/project.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/project2.jpg" alt="">
                       </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img img-slider"  data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                             <img src="./img/project.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/project2.jpg" alt="">
                       </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
            <a href="#" class="projects__item">
                <div class="projects__img img-slider"  data-aos="zoom-in">
                    <div class="projects__labels">
                        <div class="projects__label label--big">Аудит</div>
                        <div class="projects__label label--big">Дизайн</div>
                        <div class="projects__label label--big">Контент</div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                             <img src="./img/project.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/project2.jpg" alt="">
                       </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="projects__descr label--big">ПРОМО-САЙТ</div>
                <div class="projects__name h4">ЖК Дельвиг</div>
            </a>
        </div>
        <div class="projects__actions">
            <div class="blogs__navigations">
                <button class="blogs__navigations-prev disable">
                    <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.4004 5.40039H0.800391M0.800391 5.40039L5.34233 1.40039M0.800391 5.40039L5.34233 9.40039" stroke="#343F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <div class="blogs__navigations-items">
                    <button class="blogs__navigations-item active label--large">1</button>
                    <button class="blogs__navigations-item label--large">2</button>
                    <button class="blogs__navigations-item label--large">3</button>
                    <button class="blogs__navigations-item label--large">4</button>
                </div>
                <button class="blogs__navigations-next">
                    <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.59961 5.40039H19.1996M19.1996 5.40039L14.6577 1.40039M19.1996 5.40039L14.6577 9.40039" stroke="#343F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>