<div class="specialization">
    <div class="container">
        <div class="specialization__heading">
            <div class="specialization__title large">Почему</div>
            <div class="specialization__text h4">важно учитывать специализацию</div>
            <button class="specialization__btn btn">
                <span>заказать работу</span>
                <div class="icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.928036 15.0711L15.0702 0.928968M15.0702 0.928968L8.59216 1.75012M15.0702 0.928968L14.249 7.40698" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </button>
        </div>
        <div class="specialization__list">
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>01</span>
                    Продажи и конверсии
                </div>
                <p class="specialization__content">
                    Привлекательный дизайн с анимацией может стимулировать пользователей к действию, увеличивая конверсии и продажи. Анимированные элементы могут использоваться для подчеркивания ключевых выгод ваших товаров или услуг и привлечения внимания к акциям или специальным предложениям
                </p>
            </div>
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>02</span>
                    Улучшение пользовательского опыта
                </div>
                <p class="specialization__content">
                    Качественная анимация может улучшить пользовательский опыт, делая навигацию по сайту более интуитивной и удобной. Анимация может помочь в указании на важные элементы интерфейса и взаимодействия пользователя с ними
                </p>
            </div>
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>03</span>
                    Усиление брендового имиджа
                </div>
                <p class="specialization__content">
                    Продуманная анимация может помочь в усилении брендовой идентичности вашего сайта. Это может быть особенно полезно для компаний, стремящихся выделиться на рынке и запомниться своим клиентам
                </p>
            </div>
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>04</span>
                    Мобильная совместимость
                </div>
                <p class="specialization__content">
                    Современные технологии позволяют создавать анимацию, которая хорошо работает как на десктопе, так и на мобильных устройствах. Это важно, учитывая растущее количество пользователей, которые используют мобильные устройства для доступа в интернет
            </div>
        </div>
    </div>
</div>