<section class="specialists">
    <div class="container">
        <div class="specialists__sticky h5">
            Мы выбираем опытных специалистов в зависимости от сложности вашего проекта
        </div>
        <div class="specialists__info">
            <div class="specialists__top">
                <div class="specialists__col">от <span class="h3">3</span> до <span class="h3">15</span></div>
                <div class="specialists__title h4">Специалистов работают над вашим проектом </div>
                <div class="specialists__icons">
                    <div class="specialists__icon">
                        <img src="./img/i1.jpg" alt="">
                    </div>
                    <div class="specialists__icon">
                        <img src="./img/i2.jpg" alt="">
                    </div>
                    <div class="specialists__icon">
                        <img src="./img/i3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="specialists__list">
                <div class="specialists__item h6">Дизайнер</div>
                <div class="specialists__item h6">Backend разработчик</div>
                <div class="specialists__item h6">UX/UI Дизайнер</div>
                <div class="specialists__item h6">Иллюстратор</div>
                <div class="specialists__item h6">Аудитор</div>
                <div class="specialists__item h6">Project менеджер</div>
                <div class="specialists__item h6">UX Копирайтер</div>
                <div class="specialists__item h6">Тестировщик</div>
                <div class="specialists__item h6">Frontend разработчик</div>
            </div>
            <div class="specialists__ready">
                <div class="specialists__ready-item">
                    <div class="specialists__ready-col h4">15</div>
                    <div class="specialists__ready-descr text--big">выполненных проектов</div>
                </div>
                <div class="specialists__ready-item">
                    <div class="specialists__ready-col h4">3400</div>
                    <div class="specialists__ready-descr text--big">рабочих часов</div>
                </div>
                <div class="specialists__ready-item">
                    <div class="specialists__ready-col h4">137</div>
                    <div class="specialists__ready-descr text--big">выполненных проектов</div>
                </div>
            </div>
        </div>
    </div>
</section>