<div class="specialization">
    <div class="container">
        <div class="specialization__heading">
            <div class="specialization__title large">Почему</div>
            <div class="specialization__text h4">важно учитывать специализацию</div>
            <div class="specialization__btn btn">
                <span>заказать работу</span>
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="56" height="56" rx="10" fill="#186D72" />
                    <path d="M20.929 35.0711L35.0711 20.929M35.0711 20.929L28.5931 21.7501M35.0711 20.929L34.25 27.407" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="specialization__list">
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>01</span>
                    Продажи и конверсии
                </div>
                <p class="specialization__content">
                    Привлекательный дизайн с анимацией может стимулировать пользователей к действию, увеличивая конверсии и продажи. Анимированные элементы могут использоваться для подчеркивания ключевых выгод ваших товаров или услуг и привлечения внимания к акциям или специальным предложениям
                </p>
            </div>
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>02</span>
                    Продажи и конверсии
                </div>
                <p class="specialization__content">
                    Качественная анимация может улучшить пользовательский опыт, делая навигацию по сайту более интуитивной и удобной. Анимация может помочь в указании на важные элементы интерфейса и взаимодействия пользователя с ними
                </p>
            </div>
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>03</span>
                    Продажи и конверсии
                </div>
                <p class="specialization__content">
                    Продуманная анимация может помочь в усилении брендовой идентичности вашего сайта. Это может быть особенно полезно для компаний, стремящихся выделиться на рынке и запомниться своим клиентам
                </p>
            </div>
            <div class="specialization__item">
                <div class="specialization__top h6">
                    <span>04</span>
                    Продажи и конверсии
                </div>
                <p class="specialization__content">
                    Современные технологии позволяют создавать анимацию, которая хорошо работает как на десктопе, так и на мобильных устройствах. Это важно, учитывая растущее количество пользователей, которые используют мобильные устройства для доступа в интернет
            </div>
        </div>
    </div>
</div>