<section class="task">
    <div class="container">
        <div class="task__top">
            <div class="task__headings">
                <div class="task__suptitle h6" data-aos="fade-up">Или</div>
                <div class="task__title large" data-aos="fade-up">Обсудим задачу</div>
                <div class="task__subtitle large" data-aos="fade-up">Прямо сейчас?</div>
            </div>
            <div class="task__info">
                <p class="task__text text--large">Напишите нам в чат <br> или оставь заявку на консультацию и мы вам поможем с решением задачи</p>
                <button class="btn">
                    <span>Получить консультацию</span>
                    <div class="icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.928036 15.0711L15.0702 0.928968M15.0702 0.928968L8.59216 1.75012M15.0702 0.928968L14.249 7.40698" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="task__content">
            <img src="./img/chat.png" alt="" class="task__img" data-aos="zoom-in-up">
        <button class="btn">
            <span>Написать</span>
            <div class="icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.928036 15.0711L15.0702 0.928968M15.0702 0.928968L8.59216 1.75012M15.0702 0.928968L14.249 7.40698" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </button>
        </div>
    </div>
</section>